language: r
cache: packages

notifications:
  email:
      - leo.lahti@iki.fi

r_github_packages:
  - jimhester/covr
  
after_success:
  - Rscript -e 'covr::codecov()'
  - bash <(curl -s https://codecov.io/bash)